{% extends 'base.html' %}

{% block content %}
<style>
  .hidden {
      display: none
  }
</style>
  <form action="{{ request.get_full_path }}" method="POST">
    {% csrf_token %}
    {{ form.as_p }}

    <div>
      <h3>Operations</h3>
      {{ formset.management_form }}
      <div id="operation-form-list">
        {% for form in formset %}
            <div class="operation-form mt-4 mb-4 card2">
              {{ form.as_p }}
            </div>
        {% endfor %}
      </div>
      <div id="empty-form" class="hidden">{{ formset.empty_form.as_p }}</div>
      <button id="add-more" type="button" class="btn btn-primary mb-2 mt-2">Add Operations</button>
  </div>

    <button type="submit" class="btn btn-primary mb-2 mt-2">Save</button>
  </form>


<script>
    
  const addMoreBtn = document.getElementById("add-more")
  addMoreBtn.addEventListener('click', add_new_form)
  function add_new_form(event) {
    if (event) {
      event.preventDefault()
    }

    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
    const currentOperationForms = document.getElementsByClassName('operation-form')
    const currentFormCount = currentOperationForms.length
    const formCopyTarget = document.getElementById('operation-form-list')
    const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
    copyEmptyFormEl.setAttribute('class', 'operation-form mt-4 mb-4 card2')
    copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
    const regex = new RegExp('__prefix__', 'g')
    copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
    totalNewForms.setAttribute('value', currentFormCount + 1)
    formCopyTarget.append(copyEmptyFormEl)
  }
  


</script>

{% endblock %}