{% extends 'base.html' %}

{% block content %}
<style>
  .hidden {
      display: none
  }
</style>
  <form action="{{ request.get_full_path }}" method="POST">
    <div class="text-right mr-3">
      <a class="btn btn-dark mt-2" href="/pipelines">Back to Pipelines</a>
    </div>
    {% csrf_token %}
    {{ form.as_p }}
    <div>
      <a class="btn btn-dark mb-4" target="_blank" href="https://ninth-tuna-6db.notion.site/Readme-073d4867fc2041399fccbbeb134c7544">Required Parameters Details</a>
    </div>

    <div>
      <h3>Operations</h3>
      {{ formset.management_form }}
      <div class="border border-5">
        <div id="operation-form-list">
          <ul class="list-group">
            {% for form in formset %}
              {% for hidden in form.hidden_fields %}
                {{ hidden }}
              {% endfor %}
              <div class="operation-form mt-4 mb-4 form">
                {% for field in form %}
                  {% if field.label != "Id" %}
                    <li class="list-group-item bg-light">
                      <div class="row row-cols-auto">
                        <div class="col">
                          {{ field.label_tag }}
                        </div>
                        <div class="col">
                          {{ field }}
                        </div>
                        <div class="col">
                          {{ field.errors }}
                        </div>
                      </div>
                    </li>
                  {% endif %}
                {% endfor %}
              </div>
            {% endfor %}
          </ul>
        </div>
      </div>
      <div id="empty-form" class="hidden">
        {% for field in formset.empty_form %}
          {% if field.label != "Id" %}
            <li class="list-group-item bg-light">
              <div class="row row-cols-auto">
                <div class="col">
                  {{ field.label_tag }}
                </div>
                <div class="col">
                  {{ field }}
                </div>
                <div class="col">
                  {{ field.errors }}
                </div>
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </div>
      <button id="add-more" type="button" class="btn btn-primary mb-2 mt-2">Add Operations</button>
  </div>

  <div style="padding-bottom: 20px;">
    <button type="submit" class="btn btn-primary mb-2 mt-2">Save</button>
  </div>
  </form>


<script>
    
  const addMoreBtn = document.getElementById("add-more")
  addMoreBtn.addEventListener('click', add_new_form)
  function add_new_form(event) {
    if (event) {
      event.preventDefault()
    }

    const totalNewForms = document.getElementById('id_form-TOTAL_FORMS')
    const currentOperationForms = document.getElementsByClassName('operation-form')
    const currentFormCount = currentOperationForms.length
    const formCopyTarget = document.getElementById('operation-form-list')
    const copyEmptyFormEl = document.getElementById('empty-form').cloneNode(true)
    copyEmptyFormEl.setAttribute('class', 'operation-form mt-4 mb-4 form')
    copyEmptyFormEl.setAttribute('id', `form-${currentFormCount}`)
    const regex = new RegExp('__prefix__', 'g')
    copyEmptyFormEl.innerHTML = copyEmptyFormEl.innerHTML.replace(regex, currentFormCount)
    totalNewForms.setAttribute('value', currentFormCount + 1)
    formCopyTarget.append(copyEmptyFormEl)
  }
  


</script>

{% endblock %}